@font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStdBook.woff2') format('woff2'),
         url('../fonts/FuturaStdBook.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStdLight.woff2') format('woff2'),
         url('../fonts/FuturaStdLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStdBold.woff2') format('woff2'),
         url('../fonts/FuturaStdBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  