{% extends "template.html" %} {% block title %} Metropol-Theater - Geschichte {%
endblock %} {% block content %}

<main>
  <div class="container">
    <!-- Breadcrumb -->
    <nav class="breadcrumb chronik__breadcrumb" aria-label="Breadcrumb">
      <a href="/" class="breadcrumb__link"><span>&larr;</span> Startseite</a>
    </nav>
  </div>

  <!-- Chronik -->
  <section class="chronik">
    <div class="container">
      <!-- Abschnitt 1909 -->
      <article class="chronik__entry">
        <div class="chronik__content">
          <h2 class="chronik__year">
            1909: Die Anfänge im Metropol-Theater
          </h2>
          <p class="chronik__text">
            Das Kinoerlebnis in Brunsbüttel begann 1909 mit der Eröffnung des
            Metropol-Theaters. Gegründet von L. Schröder, erfreute es sich
            schnell großer Beliebtheit. Es durchlebte viele Besitzerwechsel und
            überstand schwierige Zeiten wie den Ersten Weltkrieg und die
            Influenza-Epidemie.
          </p>
        </div>
        <figure class="chronik__image">
          <img
            src="./img/chornicle/600px-1910-Metropol-Theater-MJ 1.jpg"
            alt="Sein Leopold - Kinoplakat aus dem Jahr 1909"
          />
        </figure>
      </article>

      <!-- Abschnitt 1930 -->
      <article class="chronik__entry">
        <figure class="chronik__image">
          <img
            src="./img/chornicle/1940-Metropol-Theater 1.jpg"
            alt="Außenansicht der Fernsicht-Lichtspiele im Jahr 1930"
          />
        </figure>
        <div class="chronik__content">
          <h2 class="chronik__year">1930: Die Fernsicht-Lichtspiele</h2>
          <p class="chronik__text">
            1930 eröffnete Rudolf Grawert das zweite Kino, die
            Fernsicht-Lichtspiele. Dieses Kino war besonders für seine
            gemütliche Atmosphäre bekannt. Es wurde später von Willi Concius
            übernommen und lief erfolgreich bis 1960.
          </p>
        </div>
      </article>

      <!-- Abschnitt 1976 -->
      <article class="chronik__entry">
        <div class="chronik__content">
          <h2 class="chronik__year">
            1976: Verzehrkino und Modernisierung
          </h2>
          <p class="chronik__text">
            Maria Sievers verwandelte das Metropol-Theater 1976 in ein
            Verzehrkino, ein Konzept, das bis 1986 Bestand hatte. Nach einer
            kurzen Schließung übernahm Annamarie Sievers die Leitung und
            modernisierte das Kino weiter, um den Bedürfnissen der modernen Zeit
            gerecht zu werden.
          </p>
        </div>
        <figure class="chronik__image">
          <img
            src="./img/chornicle/Bild_974 1.jpg"
            alt="Ansicht des Metropol-Theaters nach der Modernisierung in den 1970er Jahren"
          />
        </figure>
      </article>

      <!-- Abschnitt Heute -->
      <article class="chronik__entry">
        <figure class="chronik__image">
          <img
            src="./img/chornicle/Bild_974 1.png"
            alt="Innenansicht des Metropol-Theaters - moderner Kinosaal"
          />
        </figure>
        <div class="chronik__content">
          <h2 class="chronik__year">Heute: Ein kulturelles Zentrum</h2>
          <p class="chronik__text">
            Heute sind die Kinos in Brunsbüttel nicht nur Orte der Unterhaltung,
            sondern auch kulturelle Treffpunkte, die die Geschichte und die
            Gemeinschaft der Stadt widerspiegeln. Wir laden Sie ein, Teil
            unserer Geschichte zu werden und unvergessliche Momente bei uns zu
            erleben.
          </p>
        </div>
      </article>
    </div>
  </section>
</main>

{% endblock %}
