{% extends "template.html" %} {% block title %}Home{% endblock %} {% block
content %}

<main class="dashboard">
  <div class="container">
    <!-- Breadcrumb -->
    <nav class="breadcrumb" aria-label="Breadcrumb">
      <a href="/" class="breadcrumb__link">&larr; Startseite</a>
    </nav>

    <h1 class="dashboard__title">Dashboard</h1>
    <a href="/films/add" class="dashboard__add-link">Film hinzufügen</a>

    <section class="dashboard__movies">
      <h2 class="dashboard__movies-title">Filme:</h2>

      <!-- Film 1 -->
      {% for film in films %}
      <article class="dashboard__movie">
        <div class="dashboard__movie-content">
          <div class="dashboard__movie-aside">
              <img
                src="/{{ film.poster }}"
                alt="Filmplakat von {{ film.title }}"
                class="dashboard__movie-img"
            </a>
            <div class="dashboard__movie-actions">
              <a href="/films/{{ film.id }}" class="dashboard__movie-link"
                >Film ansehen</a>
              <a href="/films/{{ film.id }}/edit" class="dashboard__movie-link"
              >Film bearbeiten</a>

              <a href="/film_remove_form/{{ film.id }}">Film entfernen</a>
            </div>
          </div>

          <div class="dashboard__movie-info">
            <ul class="dashboard__movie-list">
              <li><strong>Titel:</strong> {{ film.title }}</li>

              <li>
                <strong>Genre:</strong> {% for genre in film.genres %} {{ genre
                }} {% endfor %}
              </li>
              <li><strong>Regisseur:</strong> {{ film.director}}</li>
              <li>
                <strong>Produzenten:</strong> {{ film.producer }}
              </li>
              <li><strong>Länge:</strong> {{ film.duration }} Minuten</li>
              <li>
                <strong>Produktionsland:</strong> {% for country in
                film.countries %} {{ country }} {% endfor %}
              </li>
              <li><strong>FSK:</strong> {{ film.rating }}</li>
              <li>
                <strong>Spielzeiten:</strong>
                <ul>
                  {% for date, times in film.showtimes %}
                    {% if date == "null" %}
                      Keine Spielzeiten
                    {% else %}
                      <div class="dashboard__movie-schedule">
                        <span class="dashboard__movie-date">{{ date }}:</span>
                        {% for timeDetails in times %}
                          {{ timeDetails.time }}
                          {% if timeDetails.is3D %}<span class="schedule__item-time-tag">3D</span>{% endif %}
                          {% if timeDetails.isOriginalVersion %}<span class="schedule__item-time-tag">OV</span>{% endif %}
                          {% if not loop.last %} | {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  {% else %}
                    Keine Spielzeiten verfügbar
                  {% endfor %}
                </ul>
                
              </li>

              <li><strong>Erstellt am:</strong> {{ film.createdAt }}</li>
            </ul>
          </div>
        </div>
      </article>
      {% endfor %}
    </section>
  </div>
</main>

{% endblock %}
