{% extends "template.html" %} {% block title %} Metropol-Theater - Dashboard {%
endblock %} {% block content %}

<main class="dashboard main">
  <div class="container">
    <!-- Breadcrumb -->
    <nav class="breadcrumb" aria-label="Breadcrumb">
      <a href="/" class="breadcrumb__link">&larr; Startseite</a>
    </nav>
  </div>

  <div class="container dashboard__container">
    <aside class="dashboard__aside">
      <nav>
        <ul class="dashboard__menu">
          <li>
            <button
              class="dashboard__menu-link active"
              data-section="movies-section"
            >
              Filme
            </button>
          </li>
          <li>
            <button
              class="dashboard__menu-link"
              data-section="highlights-section"
            >
              Highlights
            </button>
          </li>
          <li>
            <form action="/logout" method="POST">
              <button type="submit" class="dashboard__logout">Abmelden</button>
            </form>
          </li>
        </ul>
      </nav>

      <button id="scrollToTopBtn" class="scroll-to-top">
        ↑ Zum Anfang
      </button>
    
    </aside>

    <section class="dashboard__section dashboard__movies" id="movies-section">
      <div class="container">
        <header class="dashboard__header">
          <h2 class="dashboard__title">Filme:</h2>
          <a href="/films/add" class="dashboard__add-button">Film hinzufügen</a>
        </header>

        <form method="GET" action="/dashboard" class="dashboard__form">
          <div class="dashboard__controls">

        
            <div class="dashboard__sort">
              <label for="sortField" class="select__label">Sortieren nach:</label>
              <select name="sortfield" id="sortField" class="sort__select">
                <option value="createdAt" {% if currentSortField == "createdAt" %}selected{% endif %}>
                  Erstellt am
                </option>
                <option value="title" {% if currentSortField == "title" %}selected{% endif %}>
                  Titel
                </option>
              </select>
        
              <label for="sortOrder" class="select__label">Reihenfolge:</label>
              <select name="sortorder" id="sortOrder" class="sort__select">
                <option value="ASC" {% if currentSortOrder == "ASC" %}selected{% endif %}>
                  Aufsteigend
                </option>
                <option value="DESC" {% if currentSortOrder == "DESC" %}selected{% endif %}>
                  Absteigend
                </option>
              </select>
            </div>

            <div class="dashboard__search">
              <input
                class="form__input form__input--search"
                type="text"
                name="search"
                placeholder="Filmtitel suchen"
                value="{{ currentSearch }}"
              />
            </div>
        
            <div class="dashboard__buttons">
              <a href="/dashboard" class="dashboard__reset-button">Zurücksetzen</a>
              <button type="submit">Anwenden</button>
            </div>
          </div>
        </form>
        

        {% for film in films %}
        <article class="dashboard__movie">
          <div class="dashboard__movie-content">
            <div class="dashboard__movie-aside">
              <img
                src="/{{ film.poster }}"
                alt="Filmplakat von {{ film.title }}"
                class="dashboard__movie-img"
              />
              <div class="dashboard__movie-actions">
                <a href="/films/{{ film.id }}" class="dashboard__movie-link"
                >Film ansehen</a>
                <a
                  href="/films/{{ film.id }}/edit"
                  class="dashboard__movie-link"
                >Film bearbeiten</a>
                <a
                  href="/films/{{ film.id }}/delete"
                  class="dashboard__movie-link"
                >Film entfernen</a>
              </div>
            </div>

            <div class="dashboard__movie-info">
              <ul class="dashboard__movie-list">
                <li><strong>Titel:</strong> {{ film.title }}</li>
                <li>
                  <strong>Genre:</strong>
                  {% for genre in film.genres %} {{ genre }}{% if not loop.last
                  %} / {% endif %} {% endfor %}
                </li>
                <li><strong>Regisseur:</strong> {{ film.director }}</li>
                <li>
                  <strong>Produzenten:</strong> {{ film.producers | join(" / ")
                  }}
                </li>
                <li><strong>Länge:</strong> {{ film.duration }} Minuten</li>
                <li>
                  <strong>Produktionsland:</strong>
                  {% for country in film.countries %} {{ country }} {% endfor %}
                </li>
                <li><strong>FSK:</strong> {{ film.rating }}</li>
                <li>
                  <strong>3D:</strong> {% if film.is_film_3d %}Ja{% else
                  %}Nein{% endif %}
                </li>
                <li>
                  <strong>Originalversion:</strong> {% if
                  film.is_film_original_version %}Ja{% else %}Nein{% endif %}
                </li>
                <li>
                  <strong>Spielzeiten:</strong>
                  <ul>
                    {% for date, times in film.showtimes %} {% if date == "null"
                    %} Keine Spielzeiten {% else %}
                    <div class="dashboard__movie-schedule">
                      <span class="dashboard__movie-date">{{ date }}:</span>
                      {% for timeDetails in times %} {{ timeDetails.time }} {%
                      if timeDetails.is3D %}<span
                        class="schedule__item-time-tag"
                      >3D</span>{% endif %} {% if timeDetails.isOriginalVersion
                      %}<span class="schedule__item-time-tag">OV</span>{% endif
                      %} {% if not loop.last %} / {% endif %} {% endfor %}
                    </div>
                    {% endif %} {% else %} Keine Spielzeiten verfügbar {% endfor
                    %}
                  </ul>
                </li>
                <li><strong>Erstellt am:</strong> {{ film.createdAt }}</li>
              </ul>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </section>

    <section
      class="dashboard__section dashboard__highlights hidden"
      id="highlights-section"
    >
      <div class="container">
        <header class="dashboard__header">
          <h2 class="dashboard__title">Highlights:</h2>
          <a href="/highlights/add" class="dashboard__add-button"
          >Highlight hinzufügen</a>
        </header>
        {% for highlight in highlights %}
        <article class="highlight__article">
          <div class="highlight__content">
            <div class="highlight__aside">
              <img
                src="/{{ highlight.image }}"
                alt="Filmplakat von {{ highlight.title }}"
                class="highlight__img"
              />
              <div class="highlight__actions">
                <form
                  action="/highlights/{{ highlight.id }}/toggle-visible"
                  method="POST"
                >
                  <input
                    type="hidden"
                    name="show_in_carousel"
                    value="{% if highlight.showInCarousel == 1 %}0{% else %}1{% endif %}"
                  />

                  <button type="submit">
                    {% if highlight.showInCarousel == 1 %} Ausblenden {% else %}
                    Einblenden {% endif %}
                  </button>
                </form>

                <a
                  href="/highlights/{{ highlight.id }}/edit"
                  class="highlight__link"
                >Highlight bearbeiten</a>
                <a
                  href="/highlights/{{ highlight.id }}/delete"
                  class="highlight__link"
                >Highlight entfernen</a>
              </div>
            </div>
            <div class="highlight__info">
              <strong>Titel:</strong>
              <p>{{ highlight.title }}</p>
              <strong>Beschreibung:</strong>
              <p>{{ highlight.description }}</p>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
    </section>
  </div>
</main>

{% endblock %}
