{% extends "template.html" %} {% block title %}Metropol-Theater - Startseite {%
endblock %} {% block content %}

<main>
  <!-- Highlights -->
  <section class="highlights" id="highlights">
    <div class="container">
      <div class="highlights__container">
        <img
          src="/{{ highlights.image }}"
          alt="Illustration mit Highlights des aktuellen Filmprogramms"
          class="highlights__image"
        />
        <article class="highlights__content">
          <h1 class="highlights__title">{{ highlights.title }}</h1>
          <div class="highlights__text">
            {{ highlights.description }}
          </div>
          <article class="info" id="info">
            <div class="info__content">
              <h2 class="info__highlights-tile">Reservierungen</h2>
              <p class="info__text">
                Kartenvorbestellungen täglich ab 19:00 Uhr <br> telefonisch
                unter der Nummer <a href="tel:+49123456789">+49 4852 9344</a>
              </p>
              <p>
                Wir freuen uns auf Ihren Besuch!
              </p>
            </div>
          </article>
        </article>
      </div>
    </div>
  </section>

  <section class="programm" id="programm">
    <div class="container">
      <h2 class="programm__title">Aktuell im Programm</h2>

      <!-- Navigationsbuttons für die nächsten 5 Tage -->
      <nav class="programm__dates">
        {% for date in daten %}
        <button
          class="programm__date {% if loop.index == 1 %}programm__date--active{% endif %}"
          data-date="{{ date.date }}"
        >
          <span>{{ date.weekday }}</span>
          <time datetime="{{ date.date }}">{{ date.day_month }}</time>
        </button>
        {% endfor %}
      </nav>

      <!-- Filme für die jeweiligen Tage -->
      <div class="programm__movies">
        {% for tag in daten %}
        <div
          class="programm__movie-list {% if loop.index != 1 %}hidden{% endif %}"
          data-date="{{ tag.date }}"
        >
          {% if programm[tag.date] and programm[tag.date].length > 0 %} {% for
          film in programm[tag.date] %}
          <article class="programm__movie">
            <a href="/films/{{ film.id }}">
              <img
                src="{{ film.poster }}"
                alt="Filmplakat von '{{ film.title }}'"
                class="programm__movie-img"
              />
            </a>
            <div class="programm__movie-info">
              <h3 class="programm__movie-name">{{ film.title }}</h3>
              <p class="programm__movie-details">
                {{ film.duration }} MIN / {{ film.genres | join(', ') }} / FSK
                {{ film.rating }}
              </p>
              <ul class="programm__times">
                {% for showtime in film.showtimeWithDetails %}
                <li class="programm__time">
                  <time datetime="{{ showtime.date }}T{{ showtime.time }}">
                    {{ showtime.time }}
                  </time>
                  {% if showtime.is3D %}
                  <span class="schedule__item-time-tag">3D</span>
                  {% endif %} {% if showtime.isOriginalVersion %}
                  <span class="schedule__item-time-tag">OV</span>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </article>
          {% endfor %} {% else %}
          <p class="programm__no-movies">Keine Filme verfügbar</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Demnächst -->
  <section class="coming-soon">
    <div class="container">
      <h2 class="coming-soon__title">Demnächst</h2>
      <ul class="coming-soon__movies">
        {% for film in films %}

        <li class="coming-soon__movie">
          <a href="/films/{{ film.id }}">
            <figure>
              <img
                class="coming-soon__movie-poster"
                src="{{ film.poster }}"
                alt="Filmplakat von '{{ film.title }}'"
              />
              <figcaption>{{ film.title }}</figcaption>
            </figure>
            <div class="coming-soon__movie-details">
              {{ film.duration }} MIN / {{ film.genres | join(', ') }} / FSK {{
              film.rating }}
            </div>
          </a>
        </li>

        {% endfor %}
      </ul>
    </div>
  </section>
</main>

{% endblock %}
