{% extends "template.html" %} {% block title %}Home{% endblock %} {% block
content %}

<main>
  <!-- Highlights -->
  <section class="highlights" id="highlights">
    <div class="container">
      <div class="highlights__container">
        <img
          src="/img/miyazaki.jpg"
          alt="Illustration mit Highlights des aktuellen Filmprogramms"
          class="highlights__image"
        />
        <article class="highlights__content">
          <h1 class="highlights__title">Miyazaki Nacht</h1>
          <div class="highlights__text">
            <p>
              Am 6. Juli findet bei uns ein einzigartiges Ereignis für alle
              Anime-Liebhaber statt – die „Die Nacht von Hayao Miyazaki“.
            </p>
            <p>
              Die ganze Nacht hindurch werden wir die Filme des legendären
              Regisseurs ansehen. Auf dem Programm stehen die Werke „Chihiros
              Reise ins Zauberland“, „Prinzessin Mononoke“ und „Ponyo - Das
              große Abenteuer am Meer“.
            </p>
            <p>
              Eintauchen in die Kunst des Animes wird uns die Japanologin Elena
              Sycheva helfen. Vor der Vorführung wird sie mit einem Vortrag
              auftreten.
            </p>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section class="programm" id="programm">
    <div class="container">
      <h2 class="programm__title">Aktuell im Programm</h2>

      <!-- Navigationsbuttons für die nächsten 5 Tage -->
      <nav class="programm__dates">
        {% for tag in daten %}
        <button
          class="programm__date {% if loop.index == 1 %}programm__date--active{% endif %}"
          data-date="{{ tag.date }}"
        >
          <span>{{ tag.weekday }}</span>
          <time datetime="{{ tag.date }}">{{ tag.day }}</time>
        </button>
        {% endfor %}
      </nav>

      <!-- Filme für die jeweiligen Tage -->
      <div class="programm__movies">
        {% for tag in daten %}
        <div
          class="programm__movie-list {% if loop.index != 1 %}hidden{% endif %}"
          data-date="{{ tag.date }}"
        >
          {% if programm[tag.date] and programm[tag.date].length > 0 %} {% for
          film in programm[tag.date] %}
          <article class="programm__movie">
            <a href="/films/{{ film.id }}">
              <img
                src="{{ film.poster }}"
                alt="Filmplakat von '{{ film.title }}'"
                class="programm__movie-img"
              />
            </a>
            <div class="programm__movie-info">
              <h3 class="programm__movie-name">{{ film.title }}</h3>
              <p class="programm__movie-details">
                {{ film.duration }} MIN / {{ film.genres | join(', ') }} / FSK
                {{ film.rating }}
              </p>
              <ul class="programm__times">
                {% for showtime in film.showtimeWithDetails %}
                <li class="programm__time">
                  <time datetime="{{ showtime.date }}T{{ showtime.time }}">
                    {{ showtime.time }}
                  </time>
                  {% if showtime.is3D %}
                  <span class="schedule__item-time-tag">3D</span>
                  {% endif %} {% if showtime.isOriginalVersion %}
                  <span class="schedule__item-time-tag">OV</span>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </article>
          {% endfor %} {% else %}
          <p class="programm__no-movies">Keine Filme verfügbar</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Demnächst -->
  <section class="coming-soon">
    <div class="container">
      <h2 class="coming-soon__title">Demnächst</h2>
      <ul class="coming-soon__movies">
        {% for film in films %}

        <li class="coming-soon__movie">
          <a href="/films/{{ film.id }}">
            <figure>
              <img
                class="coming-soon__movie-poster"
                src="{{ film.poster }}"
                alt="Filmplakat von '{{ film.title }}'"
              />
              <figcaption>{{ film.title }}</figcaption>
            </figure>
            <div class="coming-soon__movie-details">
              {{ film.duration }} MIN / {{ film.genre }} / FSK {{ film.age }}
            </div>
          </a>
        </li>

        {% endfor %}
      </ul>
    </div>
  </section>
</main>

{% endblock %}
