{% extends "template.html" %} {% block title %}Metropol-Theater - Login {%
endblock %} {% block content %}

<main class="login main">
  <div class="container login__container">
    <h1 class="login__title">Login</h1>
    <form action="#" method="post" class="login__form">
      <div class="login__group">
        <label for="username" class="login__label">Benutzername:</label>
        <input
          type="text"
          id="username"
          name="username"
          class="login__input"
        />
      </div>
      <div class="login__group">
        <label for="password" class="login__label">Passwort:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="login__input"
        />
      </div>
      {% if error %} <p class="login__error">{{ error }}</p> {% endif %}
      <button type="submit" class="login__button">Login</button>
    </form>
  </div>
</main>

{% endblock %}
