{% extends "template.html" %} {% block title %}Film löschen{% endblock %} {%
block content %}
<main class="delete">
    <div class="container">
        <h1 class="delete__title">Film löschen</h1>

        <div class="delete__actions">
            <p class="delete__text">
                Möchten Sie den Film <strong>{{ film.title }}</strong> wirklich
                löschen?
            </p>
            <form
                action="/films/{{ id }}/delete"
                method="POST"
                class="delete__form"
            >
                <button type="submit" class="button button--danger">
                    Ja, löschen
                </button>
            </form>
            <a href="/dashboard" class="button button--secondary">Abbrechen</a>
        </div>
    </div>
</main>
{% endblock %}
