.highlights {
  margin-bottom: var(--section-margin);

  @media (max-width: 960px) {
    margin-bottom: var(--section-margin-small);
  }
}

.highlights__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }
}
.highlights__image {
  @media (max-width: 960px) {
    width: 100%;
  }
}
.highlights__content {
  justify-content: flex-start;
  max-width: 450px;

  @media (max-width: 960px) {
    max-width: 100%;
  }
}
.highlights__title {
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 300;
  color: var(--accent-color);
  margin-bottom: 50px;

  @media (max-width: 1200px) {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }

  @media (max-width: 960px) {
    font-size: 5rem;
    margin-bottom: 50px;
  }

  @media (max-width: 620px) {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
}
