.schedule {
  margin-bottom: 400px;

  @media (max-width: 960px) {
    margin-bottom: 200px;
  }
}

.schedule__title {
  font-weight: 300;
  font-size: 3rem;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.schedule__items {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 500;
}
.schedule__item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--accent-color);
}

.schedule__item-day {
  display: flex;
  flex-direction: column;

  span {
    line-height: 0.8;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

.schedule__item-times {
  display: flex;
  column-gap: 70px;

  @media (max-width: 620px) {
    flex-direction: column;
  }
}
